

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Inter", sans-serif;
}
nav{
    max-width: 1200px;
    height: 44px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
   
    align-items: center;
    
    padding: 3px;

}
nav>h1{
    width: 219px;
    height: 32px;
    color: #FFFFFF;
    font-size: 30px;
}
.mune{
    display: flex;
}


.mune{
    width: 218px;
    font-size: 16px;
    font-weight: 500;
    justify-content: space-between;
}


.btn{
    width: 145px;
    height: 44px;
    padding: 10px 15px;
    border: 1px white;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
 

}

.btng{  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);

}
.bars{
    display: none;
    margin-right: 5px;
}

#banner{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1600px;
    height: 760px;
    padding: 0 auto;}






/* #banner{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width:100%;
    height: auto;
    padding: 0 auto;}
 */
.banner-container{
    width: 550px;
    

    margin: 0 auto;
    
    
    justify-content: center;
    text-align: center;
    gap: 20px;
    
}

.banner-images-container{
    position: relative;
    width: 340px;
    height:340px ;
    margin: 0 auto;
    margin-top: 70px;
    top:60px;
    left: -5px;
}

.banner-imagest2{
    position: absolute;
    top: 25%;
    left: 33%;
}
.banner-imagest1{
    position: absolute;
    top: 100px;
}





.new{
    position: absolute;
    color: #1A0B2E;
    background-color: #00FF88;
    width: 75px;
    height: 38px;
    border-radius: 1000px;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    top: 10%;
    left: 80%;


}
.banner-title{

    margin-top: 100px;
}
.banner-tex h3{
    font-size: 60px;
    font-weight: 800;
    width: 550px;
    margin: 0 auto;
    

}
.banner-tex p{
    width: 550px;
    font-size: 13px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 20px;

}
.banner-btn-container{
    margin-top: 20px;
    gap: 10px;
    display: flex;
    justify-content: center;
}
.bbtn1{
    display: flex;
    width: 200px;
    height: 44px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    gap: 5px;
    
    
  
}
.bbtn2{
    display: flex;
    height: 44px;
    width: 148px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    gap: 5px;
    color: #00FF88;
    border: solid #00FF88;
    
    background-color: transparent;
    
}


.contant{
    max-width: 100%;

}

.contant-container{
    justify-content: center;
    max-width: 75%;
   
    margin: 0 auto;
  
    
}
.contant-taxt{
    margin: 0 auto;
    max-width: 75%;
    margin: 0 auto;
   
    text-align: center;
}
.contant-taxt>h3{
    
    font-size: 3rem;
    font-weight: 700;

}

.contant-taxt-p{
   /*  border: 4px solid green; */
    margin-top: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #D9D9D9;
}


.cad-container{
    
    display: flex;
    flex-wrap: wrap;
    
    max-width: 75%;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
    

    
    


}
.cad{
    max-width: 240px;
    height: 100px;
    gap: 10px;
    
    text-align: center;
  /*   border: 2px solid white; */
    align-items: center;
    padding: 0 5px;
}
.cad h2{
    font-size: 2.5rem;
    font-weight: 900;
    color: #00FF88;
}
.cad p{
    color: whitesmoke;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;

}











@media screen and (max-width:576px){
    
    .mune{
        display: none;
    }
    .bars{
    display: block;
    margin-right: 5px;
}
.navbtn{
    display: none;
}
#banner{
    margin-top: 20px;
    width: 400px;
    background-position: center;
    background-size: 100%;
}
.banner-title{
    padding: 20px

}
.banner-container{
    margin: 0 auto;
}


.banner-tex p{
    width: 350px;
    justify-content: center;
    margin: 0 auto;
    font-size: 13px;
    

}
.banner-btn-container{
    margin-top: 10px;


}
.banner-title{
    margin-top: 65px;
}

.banner-images-container{
    
    margin-top: 10px;
}
.contant-container{
    margin-top: -80px;
    max-width: 90%;
    margin: 0 auto;
    
    
    
}
.contant-taxt>h3{
    
    font-size: 2rem;
    

}
.cad-container{
    
    margin-top: 30px;

}





}