

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Inter", sans-serif;
}
nav{
    max-width: 1200px;
    height: 44px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
   
    align-items: center;
    
    padding: 3px;

}
nav>h1{
    width: 219px;
    height: 32px;
    color: #FFFFFF;
    font-size: 30px;
}
.mune{
    display: flex;
}


.mune{
    width: 218px;
    font-size: 16px;
    font-weight: 500;
    justify-content: space-between;
}


.btn{
    width: 145px;
    height: 44px;
    padding: 10px 15px;
    border: 1px white;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
 

}

.btng{  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1) 16.531%,rgba(251, 9, 180, 1) 49.819%,rgba(145, 0, 248, 1) 81.648%);

}
.bars{
    display: none;
    margin-right: 5px;
}

#banner{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;

    height: 760px;
    padding: 0 auto;}






/* #banner{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width:100%;
    height: auto;
    padding: 0 auto;}
 */
.banner-container{
    width: 550px;
    

    margin: 0 auto;
    
    
    justify-content: center;
    text-align: center;
    gap: 20px;
    
}

.banner-images-container{
    position: relative;
    width: 340px;
    height:340px ;
    margin: 0 auto;
    margin-top: 70px;
    top:60px;
    left: -5px;
}

.banner-imagest2{
    position: absolute;
    top: 25%;
    left: 33%;
}
.banner-imagest1{
    position: absolute;
    top: 100px;
}


@keyframes new1 {
    from{
        left: 0;
    }
    to{
        right: 50px;
    }
    
}


.new{
    position: absolute;
    color: #1A0B2E;
    background-color: #00FF88;
    width: 75px;
    height: 38px;
    border-radius: 1000px;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    top: 10%;
    left: 80%;
    animation: new1 3s ease-in-out 1s infinite alternate ;


}


/* banner title */
.banner-title{

    margin-top: 100px;
}
.banner-tex h3{
    font-size: 60px;
    font-weight: 800;
    width: 550px;
    margin: 0 auto;
    

}
.banner-tex p{
    width: 550px;
    font-size: 13px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 20px;

}
.banner-btn-container{
    margin-top: 20px;
    gap: 10px;
    display: flex;
    justify-content: center;
}
.bbtn1{
    display: flex;
    width: 200px;
    height: 44px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    gap: 5px;
    
    
  
}
.bbtn2{
    display: flex;
    height: 44px;
    width: 148px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    gap: 5px;
    color: #00FF88;
    border: solid #00FF88;
    
    background-color: transparent;
    
}


.contant{
    max-width: 100%;

}

.contant-container{
    max-width: 1200px;
    justify-content: center;
    max-width: 75%;
     margin: 0 auto;
     justify-items: center;
  
}
.contant-taxt{
    
   /*  max-width: 75%; */

   max-width: 1200px;
    margin: 0 auto;
    

   
    text-align: center;
}
.contant-taxt>h3{
    
    font-size: 3rem;
    font-weight: 700;

}

.contant-taxt-p{
   
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    color: #D9D9D9;
}


.cad-container{
    
    /* display: flex;
    flex-wrap: wrap;
    
    max-width: 75%;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 100px;



    

    
    


}
.cad{
    max-width: 240px;
    height: 100px;
    gap: 10px;
    
    text-align: center;

    align-items: center;
    padding: 0 5px;
}
.cad h2{
    font-size: 2.5rem;
    font-weight: 900;
    color: #00FF88;
}
.cad p{
    color: whitesmoke;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;

}
/* choose container */



.choose-container{

    max-width: 75%;
    margin: 0 auto;
   
}
.choose-title{
   
    
    max-width: 1200px;
    justify-content: center;
    text-align: center;
    margin-top: 100px;

}
.choose-title h3{
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
}
.choose-cad{
    width: 380px;
    height: 270px;
    
    padding: 40px;
    background-color: #351165;
    border-radius: 40px;
    align-items: center;
    
    
    
}

.choose-cad>h3{
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}


.choose-cad>p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.Choose-cad-container{
width: 100%;
height: 782px;
margin-top: 50px;

display: grid;
gap: 30px;

grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(3,400px);

}
.choose-cad{
    width: 100%;
    height: 100%;
}
.ch1{
    grid-column: span 1;
    grid-row: span 2;
    
    gap: 16px;
    align-items: center;
    padding: 200px 40px;
    justify-content: center;
    align-items: center;

    

    
}
.ch2{
    grid-column: span 2;
    grid-row: span 1;
    padding-top: 100px;

    
}


/* featured section */
#featured{
    margin-top: 500px;
    max-width: 100%;
}
    
.featured-container{
    max-width: 1200px;
    margin: 0 auto;

    /* border: 1px solid red; */
}
    .featured-container>h3{

        text-align: center;
        font-size: 3rem;
        font-weight: 700;
       /*  margin-top: 100px; */
        /* margin-bottom: 50px; */

    }
    .video-container{
    
        margin-top: 50px;
        /* border: 2px solid green; */
        max-width: 1200px;
        display: flex;
        
        justify-content: space-between;
        
        
   
    
        
        
    }
    
    .video{
        
        width: 320px;
        height: auto;
        /* border: solid whitesmoke; */
        background-color: #250D44;
        border-radius: 30px;
        overflow: hidden;
        border: 3px solid rebeccapurple;
    }
    .video1{
        width: 100%;
        height: auto;
        margin: 2px 2px;
        
        
    }

    .video-title{
        width: 332px;
        height: 226px;
        margin: 0 auto;
        /* border: 1px solid aqua; */
        padding: 24px;
        
    
    }
   
    
    .video-title>h3{

        font-size: 20px;
        font-weight: 700;
        

    }
    .video-title>p{

        font-size: 13px;
        font-weight: 400;
        margin-top: 25px;

    }
    .video-time{
        display: flex;
        margin-top: 20px;
        gap: 10px;
    }
    

    /* meet section  */
    .meet{
        max-width: 100%;
    }
    .meet>h3{
        max-width: 1200px;
        
        margin: 0 auto;
       /*  border: 1px solid greenyellow; */
        margin-top: 50px;
        text-align:center;
        font-size: 48px;
        font-weight: 700;
        
    }
    .meet-container{
          max-width: 1200px;
          height: 280px;
          
        
        margin: 0 auto;
        /* border: 1px solid rgb(255, 0, 34); */
        display: flex;
        margin-top: 30px;
         background-color: #250D44;
         align-items: center;
         justify-content: space-between;
         gap: 26px;
         padding: 20px;
         border-radius: 30px;
        
        

    }
    .host{
        width: 200px;
        height: 200px;
        /* border: solid gold; */
        
    }
    .host-text>h4{
        font-size: 32px;
        font-weight: 700;
    }
     .host-text>p{
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
    }

    .meet-icon{
        margin-top: 16px;
        display: flex;
        gap: 50px;
        align-items: center;
    }

      .footer{
        max-width: 100%;
        height: 420px;
        background-image: url(assets/footer-bg.png);
        margin-top: 60px;
    }

    .foonter-container{
        max-width: 1360px;
        margin: 0 auto;
        /* border: 1px solid red; */
        text-align: center;
        
        
    }
    .footer-imag{
        width: 550px;
        height: 90px;
      /*   border: 1px solid red; */
        margin-top: 200px;

    }
    .foooter-icon{
        max-width: 544px;
        display:flex;
        margin: 0 auto;
        justify-content: space-between;
        /* border: 2px solid greenyellow; */
        align-items: center;
        


    }

    .footer-item{
        display: flex;
        gap: 5px;
        margin-top: 30px;
    }

    .footer-cpy{
        margin-top: 30px;
        font-size: 16px;
        font-weight: 400;
    }


















@media screen and (max-width:576px){
    
    .mune{
        display: none;
    }
    .bars{
    display: block;
    margin-right: 5px;
}
.navbtn{
    display: none;
}
#banner{
    margin-top: 20px;
    width: 400px;
    background-position: center;
    background-size: 100%;
}
.banner-title{
    padding: 20px

}
.banner-container{
    margin: 0 auto;
}


.banner-tex p{
    width: 350px;
    justify-content: center;
    margin: 0 auto;
    font-size: 13px;
    

}
.banner-btn-container{
    margin-top: 10px;


}
.banner-title{
    margin-top: 65px;
}

.banner-images-container{
    
    margin-top: 10px;
}

/* contant section */
.contant-container{
    margin: 0 auto;
    margin-top: -80px;
    max-width: 90%;
    
    
    
    
}
.contant-taxt>h3{
    
    font-size: 2rem;
    

}
.cad-container{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,auto);

    
    margin-top: 30px;

}

.Choose-cad-container{
    display: flex;
    flex-direction: column;
}

  #featured{
    margin-top: 1400px;
    
}


.video-container{
    flex-direction: column;
    gap: 50px;
    margin-left: 100px;
}

.meet-container{
    flex-direction: column;
    height: 520px;
    padding: 50px;
}

.meet-icon{
    justify-content: center;
    margin-top: 15px;
}

.host-text{
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    
}

.footer{
    margin-top: 40px;
    width: 576px;
    height: 250px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color:#250D44;
    
}

.footer-imag{
    width: 200px;
    height: 50px;
    margin-top: 20px;
}

.foonter-container{
    padding: 50px;
}







/* .Choose-cad-container{
    grid-template-columns: repeat(1,1fr); */



    /* end tag */
}





/* end meda */







/* .ch1{
    grid-column: span 1;
    grid-row: span 2;
    
    gap: 16px;
    align-items: center;
    padding:  40px;
} */

  
  









/* meet contianer */
/* .meet-container{
    flex-direction: column;} */
    



        
    







